@media only screen and (min-width: 992px) {
	.background {
		background: url(../img/tenshi_1890x400.jpg) no-repeat;
		background-size: 100%; 
	}
}
@media only screen and (max-width: 992px) {
	#location		{ display:none; visibility:hidden; }
	.background {
		background: url(../img/tenshi_1890x400.jpg) no-repeat;
		background-size: 100%; 
	}
}
@media only screen and (max-width: 720px) {
	#type			{ display:none; visibility:hidden; }
	#location		{ display:none; visibility:hidden; }
	#uptime			{ display:none; visibility:hidden; }
	.background {
		background: url(../img/tenshi.jpg) no-repeat;
		background-size: 100%; 
	}
}
@media only screen and (max-width: 600px) {
	#type			{ display:none; visibility:hidden; }
	#location		{ display:none; visibility:hidden; }
	#uptime			{ display:none; visibility:hidden; }
	#load			{ display:none; visibility:hidden; }
	.background {
		background: url(../img/tenshi.jpg) no-repeat;
		background-size: 100%; 
	}
}
@media only screen and (max-width: 533px) {
	#type			{ display:none; visibility:hidden; }
	#location		{ display:none; visibility:hidden; }
	#uptime			{ display:none; visibility:hidden; }
	#traffic		{ display:none; visibility:hidden; }
	#load, tr td:nth-child(6)			{ display:none; visibility:hidden; }
	.background {
		background: url(../img/tenshi.jpg) no-repeat;
		background-size: 100%; 
	}
}
@media only screen and (max-width: 450px) {
	body								{ font-size: 10px; }
	.content 							{ padding: 0; }
	#name			{ min-width: 20px; max-width: 60px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
	#type			{ display:none; visibility:hidden; }
	#location		{ display:none; visibility:hidden; }
	#uptime			{ display:none; visibility:hidden; }
	#traffic		{ display:none; visibility:hidden; }
	#hdd		{ display:none; visibility:hidden; }
	#cpu, #ram { min-width: 20px; max-width: 40px; }
	.background {
		background: url(../img/tenshi.jpg) no-repeat;
		background-size: 100%; 
	}
}